*,
*::before,
*::after{ box-sizing: border-box;}

body{margin: 0;}
.container{
    background: url(assets/img/background.png) no-repeat top right;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
/*  ===========================================================================================
    Overview
    ===========================================================================================  */
    .clear{clear: both;}
    .grey{color: #6f7982;}
    .white{color: #ffffff}
    .blue{color:#8a99c0}
    /* Icons
    ===========================================================================================  */
    .hero .icon_right{margin-right: 10px;}
    .hero .icon_green{color: #00da97}
    /* Blocs
    ===========================================================================================  */
    .hero .box_shadow:hover{
        box-shadow: 0px 15px 70px 0 rgba(228, 232, 239, 0.9);
        transform: scale(1.1);
    }
    /* Texts
    ===========================================================================================  */
    .title_poppins{
        font-family: 'Poppins', medium;
        font-size: 20px;
    }
    .center {text-align: center;}
    .subtitle_rubik{
        font-family: 'Rubik', Regular;
        font-size: 15px;
    }
    .text_rubik{
        font-family: 'Rubik', Regular;
        line-height: 160%;
    }
    .text_inligne{display: inline;}
    .text_section{font-size: 14px;}
    .text_section_blocs{font-size: 12px;}
    .text_section_two{font-size: 11px;}
    .text_section_six{
        font-family: 'Rubik', Regular;
        font-size: 11px;
        display: block;
        line-height: 180%;
    }
    .text_section_black{color:black;}
    .title_rubik_uppercase{
        font-family: 'Rubik';
        font-size: 13px;
        text-transform: uppercase;
    }
    .subtitle_blue{
        color: #2196f3;
        text-align: right;
    }
    /* Buttons
    ===========================================================================================  */
    .btn > * {
        font-size: 28px;
        margin: 0px 10px 0px 0px;
    }
    .btn {
        cursor: pointer;
        text-align: center;
        padding: 7px 20px;
        border-radius: 4px;
        display: inline-block;
        background: transparent;
    }
    .btn:hover{transform: scale(1.1);}
    .btn_outline {
        color: #000000;
        border: solid #000000 1px;
    }
    .btn_trans{
        font-family: 'lato', bold;
        background-color: transparent;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        padding: 7px 20px;
        border: none;
        display: inline-block;
    }
    .btn_section_one{
        font-family: 'Rubik', Regular;
        font-size: 20px;
        margin-right: 15px;
    }
    .btn_section_one:hover {
        color:#ffffff;
        border: solid #2196f3 1px;
        background-color: #2196f3;
    }
    .btn_section_two{
        color: #2196f3;
        display: block;
        margin: 0 auto;
    }
    .btn_section_three{
        font-family: 'Rubik', Regular;
        font-size: 12px;
        color: #ffffff;
        border-radius: 4px;
        border: solid #604def 1px;
        background-color: #604def;
    }
    .btn_section_four{
        color: #604def;
        display: block;
        margin: 0 auto;
    }
    .btn_section_five{
        font-family: 'Rubik', Regular;
        font-size: 12px;
        color: #ffffff;
        border-radius: 4px;
        border: solid #2196f3 1px;
        background-color: #2196f3;
    }
    .btn_section_seven_left{
        padding: 5px;
        color: #ffffff;
        border-radius: 2px;
        border: solid #2196f3 1px;
        background-color: #2196f3;
    }
    .btn_section_seven_right{
        font-family: 'Rubik', Regular;
        font-size: 12px;
        color: #ffffff;
        border-radius: 4px;
        border: solid #00da97 1px;
        background-color: #00da97;
    }
/*  ===========================================================================================
    Header
    ===========================================================================================  */
header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
header .logo{
    position: absolute;
    float: left;
    left: 80px;
    width: 20%;
    height: auto;
    padding: 0 20px;
}

header .logo h2{
    font-family: 'Poppins', SemiBold;
    font-size: 45px;
    color: #4e5ed4;
    display: inline;
    margin: 0;
}
  
header nav{
    position: absolute;
    float: right;
    width: 100%;
    height: auto;
    text-align: right;
}
  
header ul{
    list-style-type: none;
    padding: 30px 0px;
    margin: 0;
    text-align: right;
}
  
header li{
    font-family: 'Rubik', medium;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    margin: 0px 10px;
}
  
header li a{
    position: relative;
    color: #dadada;
    text-decoration: none;
    padding: 12px 10px;
}
  
header li a::after{
    content: "\0020";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    bottom: -5px;
    left: 50%;
    border-radius: 100%;
    background-color: #00da97;
    opacity: 0;
    transition: all 300ms;
    transform: translateX(-50%);
}

header li.alternate a::after{
    bottom: auto;
    top: -8px;
    background-color: red;
}
  
header li.alternate a:hover::after,
header li.alternate a:active::after{
    opacity: 1;
    bottom: auto;
    top: -3px;
    background-color: red;
}
  
header li a:hover,
header li a.active {color: white;}
  
header li a:hover::after,
header li a.active::after{
    opacity: 1;
    bottom: 0;
}

/*  ===========================================================================================
    Main
    ===========================================================================================  */
    /* Hero
    ===========================================================================================  */
    .hero{
        position: relative;
        padding: 200px 200px 100px 200px;
        overflow: hidden;
    }

    /* Section_one
    ===========================================================================================  */
    .hero .section_one::before{
        content:"\0020";
        display: block;
        width: 40px;
        height: 10px;
        border-top: solid #2196f3 2px;
    }
    .hero .section_one::after{
        content:"\0020";
        display: block;
        width: 100%;
        height: 10px;
        clear:both;
    }
    .hero .section_one_left{
        float:left;
        display: block;
        width: 50%;
    }
    .hero .section_one_left h1{
        font-family: 'PlayfairDisplay', bold;
        font-size: 50px;
        text-align: left;
        margin: 0;
    }
    .hero .section_one_left p{
        font-family: 'Rubik', regular;
        font-size: 25px;
        text-align: left;
    }
    .hero .section_one_right {
        float:right;
        display: block;
        width: 40%;
    }
    .hero .section_one_right img{
        position: relative;
        width: 100%;
        bottom: 100px;
    }
    /* Section_two
    ===========================================================================================  */
    .hero .section_two a{text-decoration: none;}
    .hero .section_two h3{
        width: 70%;
        padding: 0 5%;
        margin: 0 auto;
    }
    .hero .section_two h3::after{
        content:"\0020";
        display: block;
        height: 50px;
    }
    .hero .section_two h3::before{
        content:"\0020";
        display: block;
        height: 10px;
        width: 40px;
        margin: 0 auto;
        border-top: solid #2196f3 2px;
    }
    .hero .section_two h4{
        margin: 30px 0 20px 0;
    }
    .hero .section_blocs_two{
        width: 280px;
        height: 250px;
        padding: 30px;
    }
    .hero .section_blocs_left{
        position: relative;
        float:left;
        display: block;
        margin-left: 5%;;
        margin-right: 5%;
    }
    .hero .section_blocs_center{
        position: relative;
        float:left;
        display: block;
        margin-right: 5%;
    }
    .hero .section_blocs_right{
        position: relative;
        float:left;
        display: block;
    }
    .hero .arrow_section_two{
        position: absolute;
        right: 20px;
        bottom: 10px;
        color:#72adfe;
    }
    .hero .lnr-user, .lnr-select, .lnr-layers{
        font-size: 20px;
        color: #72adfe;
        background-color: #e4f2ff;
        border-radius: 50%;
        padding: 12px;
    }
    .hero .section_two_blocs::after{
        content:"\0020";
        display: block;
        width: 100%;
        height: 40px;
        clear: both;
    }

    .hero .section_two_text{
        width: 70%;
        margin: 0 auto;
    }
    .hero .section_two_text span{
        font-size: 12px;
        padding: 10px;
    }
    .hero .text_section_two::after{
        content:"\0020";
        display: block;
        width: 100%;
        height: 40px;
    }
    /* Section_three
    ===========================================================================================  */
    .hero .section_three::before{
        content:"\0020";
        display: block;
        width: 100%;
        height: 150px;
    }
    
    .hero .section_three_right{
        float:right;
        display: block;
        width: 40%;
    }
    .hero .section_three::after{
        content:"\0020";
        display: block;
        width: 100%;
        height: 60px;
        clear: both;
    }
    .hero .section_three_right p::after{
        content:"\0020";
        display: block;
        width: 100%;
        height: 30px;
        clear: both;
    }
    .hero .section_three_left{
        position:relative;
        float:left;
        display: block;
        width: 50%;
        height: 500px;
        right: 100px;
    }
    .hero .img_left{
        position: absolute;
        float: left;
        display: block;
        height: 70%;
        top: -20px;
        z-index: 2;
    }
    .hero .img_center{
        position: absolute;
        float: left;
        display: block;
        height: 90%;
        left: 50px;
        z-index: 3;
    }
    .hero .img_right{
        position: absolute;
        float: left;
        display: block;
        height: 50%;
        top: -100px;
        left: 200px;
        z-index: 4;
    }
    .hero .img_back_left{
        position: absolute;
        float: left;
        display: block;
        height: 900px;
        top: -120px;
        left: -150px;
        z-index: -10;
    }
    /* Section_four
    ===========================================================================================  */
    .hero .section_four a{text-decoration: none;}
    .hero .section_four h3::before{
        content:"\0020";
        display: block;
        height: 10px;
        width: 40px;
        margin: 0 auto;
        border-top: solid 2px #604def;
    }
    .hero .section_four h3{
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    .hero .section_blocs_four{
        width: 600px;
        height: 300px;
        padding: 50px;
        margin: 0 auto;
    }
    .hero .section_four .fa-chevron-right{
        position: relative;
        font-size: 36px;
        float: right;
        color: #dadada;
        top: -150px;
        font-size: 20px;
        transition: box-shadow .3s;
    }
    .hero .section_four .fa-chevron-left{
        position: relative;
        font-size: 36px;
        float: left;
        color: #dadada;
        top: 150px;
        font-size: 20px;
        transition: box-shadow .3s;
    }
    .hero .section_four .circle_icon{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        border: solid #dadada 2px;
    }
    .hero .section_four .circle_icon:hover, 
    .hero .section_four .fa-chevron-left:hover, 
    .hero .section_four .fa-chevron-right:hover{
        border: solid #604def 2px;
        color: #604def;
        transform: scale(1.1);
        box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
    .hero .section_four .circle_icon_left{padding: 6px 2px 0 0px;}
    .hero .section_four .circle_icon_right{padding: 6px 0px 0 2px;}
    .hero .lnr-arrow-right{
        font-size: 12px;
        padding: 12px;
    }
    .hero .section_four h3::after{
        content:"\0020";
        position: relative;
        display: block;
        height: 70px;
        width: 70px;
        top: 20px;
        background-color: #cccccc;
        border-radius: 50%;
        margin: 0 auto;
        z-index: 5;
    }
    .hero .section_four p::after{
        content:"\0020";
        display: block;
        height: 40px;
    }
    .hero .section_four_logo img{
        position: relative;
        padding: 40px 20px 20px 20px;
        left: 30px;
    }
    .hero .section_four_logo::before{
        content:"\0020";
        display: block;
        height: 20px;
    }
    .hero .section_four_logo::after{
        content:"\0020";
        display: block;
        height: 100px;
    }
    /* Section_five
    ===========================================================================================  */
    .hero .section_five::before{
        content:"\0020";
        display: block;
        height: 150px;
    }

    .hero .section_five_left{
        float:left;
        display: block;
        width: 40%;
        height: 400px;
        margin: 0 100px 0 0;
    }
    .hero .section_five_right{
        position:relative;
        float:left;
        display: block;
        width: 50%;
        height: 500px;
    }
    .hero .section_five p::after{
        content:"\0020";
        display: block;
        height: 40px;
    }
    .hero .img_back_right{
        position: absolute;
        float: left;
        display: block;
        height: 900px;
        top: -200px;
        left: -25px;
        z-index: -10;
    }
    /* Section_six
    ===========================================================================================  */
    .hero .section_six ul{
        list-style-type: none;
        padding: 0;
    }
    .hero .section_six_left{
        float: left;
        margin-right: 10%;
        display: block;
        text-decoration: none;
    }
    .hero .section_six_left a{
        text-decoration: none;
        color: #2196f3;
    }
    .hero .section_six_right{
        position: relative;
        float: left;
        width: 50%;
        display: block;
    }
    .hero .six_right_bloc_left{
        margin-top: 20px;
        float: left;
        width: 40%;
    }
    .hero .six_right_bloc_right{
        margin-top: 20px;
        float: right;
        width: 40%;
    }
    .hero .price{
        font-family: 'Rubik';
        font-size: 40px;
        margin: 0;
    }
    .hero .section_six_right span{
        font-size: 15px;
        border-radius: 20%;
        color: #ffffff;
        background-color: #2196f3;
        padding: 5px;
    }
    .hero .section_six_right h4{margin: 10px 0 0 0;}
    .hero .section_six_right p{margin: 10px 0 40px 0;}
     /* Section_seven
    ===========================================================================================  */
    .section_seven{
        position: relative;
        clear: both;
        width: 100%;
        height: 300px;
        padding: 80px 0 50px 0;
        background-image: url(assets/img/BG.png);
    }
    .section_seven_left{
        float: left;
        display: block;
        width: 50%;
        padding: 0 0 0 150px;
        margin: 0 50px 0 0;
    }
    .section_seven h4{
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #00da97;
        margin: 0;
    }
    .section_seven p{color: #ffffff;}
    .section_seven_right p::after{
        content:"\0020";
        display: block;
        height: 15px;
    }
    .section_seven_right{
        float: left;
        display: block;
        height: 150px;
        width: 30%;
        padding: 15px;
        border: solid #ffffff 1px;
        border-radius: 10px;
    }
    .section_seven ul{
        list-style-type: none;
        display: inline-block;
        width: 30%;
        padding: 0;
        line-height: 200%;
    }
    .section_seven ul:first-line{
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .section_seven input{
        display: inline-block;
        font-family: 'Rubik', Regular;
        font-size: 12px;
        text-align: left;
        padding: 7px 20px;
        border-radius: 4px;
        border: solid #ffffff 1px;
        background: #ffffff;
        color: #aaaaab;
    }
    .section_seven_right input + .btn_section_seven_right{margin-left: 5px;}
/*  ===========================================================================================
    Footer
    ===========================================================================================  */
.endpage{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f6f8fc;
    z-index: 10;
}
.endpage .social_network{
    position: absolute;
    float: right;
    height: auto;
    width: 100%;
    text-align: right;
}
.endpage .social_network li:hover{transform: scale(1.2);}
.endpage ul {
    list-style-type: none;
    padding: 30px 50px 0px 0px;
    margin: 0;
    text-align: right;
}
.endpage li {
    display: inline-block;
    font-family: 'Rubik', medium;
    font-size: 12px;
    margin: 0px 10px;
}
.endpage p{
    position: absolute;
    float: left;
    height: auto;
    margin: 0;
    padding: 30px 0px 20px 50px;
}
.endpage a{
    color:#8a99c0;
    font-weight: bold;
    text-decoration: none;
}
.endpage figure{
    float: left;
    padding: 0 40%;
}